<div class="modal-header success">
    <h4 class="modal-title" id="modal-title">
        Create Signature Credential
        <a  class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>
    </h4>
</div>
<div class="col-md-12 bg-light-grey padding">
    <p class="text-muted no-margin">Create signature credential for <strong><span class="text-success">{{consumer.username || consumer.custom_id}}</span></strong></p>
</div>

<div class="modal-body" id="modal-body">
    <form class="form-horizontal">
        <div class="form-group" ng-class="{'has-error' : errors.client_id}">
            <label class="col-sm-4 control-label">client_id <br><em><small class="help-block">optional</small></em></label>
            <div class="col-sm-7">
                <input ng-model="credentials.client_id" class="form-control">
                <div class="text-danger" ng-if="errors.client_id" data-ng-bind="errors.client_id"></div>
                <p class="help-block">Optionally set the client id, otherwise it will be generated automatically.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : errors.client_secret}">
            <label class="col-sm-4 control-label">client_secret <br><em><small class="help-block">optional</small></em></label>
            <div class="col-sm-7">
                <input ng-model="credentials.client_secret" class="form-control">
                <div class="text-danger" ng-if="errors.client_secret" data-ng-bind="errors.client_secret"></div>
                <p class="help-block">Optionally provide a client secret, otherwise one will be generated for you.</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-7">
                <button type="submit" class="btn btn-primary" ng-click="createSignatureCredential()">
                    <i class="mdi mdi-check"></i>
                    Submit
                </button>
            </div>
        </div>

    </form>
</div>
