<div class="modal-header">
    <h4 class="modal-title" id="modal-title">
        Signature Credential
        <a class="modal-close pull-right" ng-click="close()">
            <i class="mdi mdi-close"></i>
        </a>
    </h4>
</div>
<div class="modal-body" id="modal-body">
    <dl class="dl-horizontal">
        <dt>client_id</dt>
        <dd>{{cred.client_id}}</dd>
        <dt>client_secret</dt>
        <dd><code>{{cred.client_secret || 'Not available'}}</code></dd>
        <dt>created</dt>
        <dd>{{cred.created_at * 1000 | date : format : timezone}}</dd>
        <dt>id</dt>
        <dd>{{cred.id}}</dd>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">
        Close
    </button>
</div>
