@use 'globals' as *;
@use 'sass:list';

$pbrands: primary $brand-primary, success $brand-success, warning $brand-warning, danger $brand-danger, info $brand-info;

@each $brand in $pbrands {
  $key: list.nth($brand, 1);
  $value: list.nth($brand, 2);
  .panel-#{$key} {
    -webkit-box-shadow:inset 0px 0px 0px 2px $value;
    -moz-box-shadow:inset 0px 0px 0px 2px $value;
    box-shadow:inset 0px 0px 0px 2px $value;
  }

  .panel-#{$key}-outside {
    border: 2px solid $value;
  }
}
